
.header{
    background-image: linear-gradient(rgb(133, 142, 214), rgb(161, 86, 161));
    
    text-align: center;
    height: 30vh;
    min-height: 140px;
    padding-top: 30px;
}
.titolo{
    font: bold 50px "Courier New";
}
.center{
    height: 70vh;
    overflow-x: scroll;
    background-color: rgb(158, 167, 255);
    justify-content: center;
}
.center::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
.center::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 211, 160);
    border-radius: 10px;
  }
  
  /* Handle */
.center::-webkit-scrollbar-thumb {
    background: rgb(44, 78, 231);
    border-radius: 10px;
  }

.tail{
    text-align: center;
    background-image: linear-gradient(rgb(161, 86, 161),white);
    height: 25vh;
    padding-top: 20px;
    overflow-y: visible;
}
.board{
    height: 100%;
    
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start
}

.cell{
    flex: 0 0 95px;
    width: 95px;
    padding: 5px;
    background-color: rgb(255, 241, 255);
    transition: background-color .5s;
    
    
}
.cell:hover{
    background-color: rgb(255, 211, 160);
}
 
.challenge{
    width:90%;
    max-width:600px;
    margin: auto;
    
}
.greater{
    --bs-table-bg: rgba(0, 128, 0, 0.76);
    --bs-table-striped-bg: rgba(0, 128, 0, 0.363);
}
.smaller{
    --bs-table-bg: rgba(185, 50, 50, 0.938);
    --bs-table-striped-bg: rgba(185, 50, 50, 0.664);
}

.blink-bg{
    animation: blinkingBackground 2s ;
}

@keyframes blinkingBackground{
    0%		{ background-color: #ef0a1a;}
    25%		{ background-color: rgb(255, 241, 255)}
    50%		{ background-color: #ef0a1a;}
    75%		{ background-color: rgb(255, 241, 255)}
    100%	        { background-color: #ef0a1a;}
}
.eat_false{
    animation: blinkingBackground 1s ;
}
.eat_true{
    animation: eating 1s ;
}
@keyframes eating{
    0%		{ background-color: green}
    25%		{ background-color: rgb(255, 241, 255)}
    50%		{ background-color: green}
    75%		{ background-color: rgb(255, 241, 255)}
    100%	        { background-color: green;}
}