@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



li, a, button{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
}



p{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.modal-body p{
    color: black;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

}

.navbar img {
    height: 100px;
    width: 100px;
    border: 2px solid rgba(0, 69, 22);
    background: white;
    border-radius: 4px;
    margin: 0 20px 30px;
}


.button1{
    outline: none;
    background: rgba(0, 69, 22);
    width: 70%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.15em; 
}

.modal-body table th{
    width: 100%;
    text-align: center;
    color: rgba(0, 69, 22);
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h5{
    letter-spacing: 0.15em;
    color: rgba(0, 69, 22);
    font-weight: 700 !important;
    font-size: xx-large !important;

}

.modal-body table td{
    
    color: rgba(0, 69, 22);
}

.nav2{
    background: rgb(226,226,226);
    background: -moz-linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2",endColorstr="#ffffff",GradientType=1);
}




.wrapper-img{
    width: 100vw;
    height: 100vh;
}
.wrapper-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



table tr td p {
    padding: 0 80px;
    margin: 0;

}

table tr td img {
    padding: 0 20px;
}


button.button1{
    width: 200px;
    padding: auto;
}


.addbutt{
    margin-left: 10px;
}

.animalvs1, .animalvs2 {
    width: 30%;
    height: 50%;
}

@media (max-width: 768px) {
    .addbutt {
        margin: 10px 0;
        width: 50%;
    }
    #collapsingNavbar3 {
        margin-top: 20px;
    }

}
@media (max-width: 576px){
    button.button1 {
        width: 140px;
        font-size: 14px;
        padding: 10px 0;
    }

    .navbar img{
        height: 75px;
        width: 75px;
        margin: 10px 10px;
    }


    table tr td p {
        padding: 0 20px;
        margin: 0;
    
    }

    .animalvs1 {
        padding-left: 0;
        padding-right: 30px;
    }

    .animalvs2 {
        padding-right: 0;
        padding-left: 30px;
    }

    .animalvs1, .animalvs2 {
        width: 50%;
        height: 50%;
    }
}

/*old part*/
.carousel-item{
    background-size: cover;
    height:100vh;
    width: 100vw;
    padding: 100px;

}

.board{
    width:100%;
    height:100%;
    position:relative;
    
}

.cell{
    position:absolute;
    width: 95px;
    height: 95px;
    padding: 5px;
    background-color: rgb(255, 241, 255);
    transition: background-color .5s;
    top: 0px;
    left:0px;
    border-radius: 20px;
    transition:left 1s,top 1s;
    
}
.cell:hover{
    background-color: rgb(255, 211, 160);
    
}


.blink-bg{
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    background-color: #9A2727;
}


@keyframes blinkingBackground{
    0%		{ background-color: #ef0a1a;}
    25%		{ background-color: rgb(255, 241, 255)}
    50%		{ background-color: #ef0a1a;}
    75%		{ background-color: rgb(255, 241, 255)}
    100%	        { background-color: #ef0a1a;}
}
.eat_false{
    animation: blinkingBackground 1s ;
}
.eat_true{
    animation: eating 1s ;
}
@keyframes eating{
    0%		{ background-color: green}
    25%		{ background-color: rgb(255, 241, 255)}
    50%		{ background-color: green}
    75%		{ background-color: rgb(255, 241, 255)}
    100%	        { background-color: green;}
}




/* Make the element pulse (grow large and small slowly) */
/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1; 
    }
*/
@keyframes pulsate {
    25% {-webkit-transform: scale(0.9, 0.9); opacity: 1.0;}
    50% {opacity: 1.0;}
    75% {-webkit-transform: scale(1.1, 1.1); opacity: 1.0;}
    100% {opacity: 1.0;}
}

/* Make the element's opacity pulse*/
/* Usage
    .myElement {
        animation: opacityPulse 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0; 
    }
*/
@keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */
/* Usage
    .myElement {
        animation: alertPulse 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1; 
    }
*/
@keyframes alertPulse {
    0% {opacity: #9A2727; opacity: 1;}
    50% {opacity: red; opacity: 0.9; }
    100% {opacity: #9A2727; opacity: 1;}
}


/* Make the element rotate infinitely. */
/* 
Usage
    .myElement {
        animation: rotating 3s linear infinite;
    }
*/
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



